@import "tailwindcss";

.book-hover:hover{
    background: #843B55;
    color: #F1E4EE;
}

button:hover{
    background: #642E3B;
}

a{
    border-bottom: 1px solid black;
}

a:hover{
    color: #F1E4EE;
    padding-bottom: .2rem;
    transition:
        padding-bottom .2s ease-in,
        color .2s ease-in;
}

.home-btn-hvr:hover{
    background: #642E3B;
    transition: none;
    padding-bottom: 1rem;
}